<html>
    <head>
        {{>header}}
        <style>
            button {
                background-color: white;
                color: black;
                border: 2px solid #555555;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                border-radius: 999px;
            }
        
            button:hover {
                background-color: #555555;
                color: white;
            }
        </style>
    </head>
    <body>
        <h2 style="text-align: center;">Create a new plan for week {{week}}</h2>
        <form method="post" role="form" style="text-align:center;">
            <div class="form-group">
                <select name="preset" id="preset">
                    <option value="outdoors">outdoors</option>
                    <option value="chest">chest</option>
                    <option value="arms">arms</option>
                    <option value="legs">legs</option>
                    <option value="shoulders">shoulders</option>
                    <option value="back">back</option>
                </select>
            </div>
            <button type="submit">Add preset</button>
        </form>
        {{>training_plan/week_plan}}
        {{#enough}}
        <section>
            <p style="text-align: center;">Generate plan</p>
            <form method="post" role="form" style="text-align:center;">
                <button name="plan_week" type="submit" value={{week}}>Add plan</button>
            </form>
        </section>
        {{/enough}}
    </body>
</html>