<html lang="eng">
<head>
    {{>header}}
    <style>
        input[type = submit] {
           background-color: #bb4b0a;
           border: none;
           text-decoration: none;
           color: #eea760;
           padding: 20px 20px;
           margin: 20px 20px;
           cursor: pointer;
        }
     </style>
</head>

<body class="container" style="background-color:#eea760;">
<h2 style="color:#bb4b0a;">Insert a new exercise in the Training Plan</h2>
<ul class="type-container" style="background:#eea760;">
    <form method="post" role="form">
        <li class="ex-box" style="background:#bb4b0a;color: #eea760;">
            <div class="form-group">
                <label for="name">Choose an exercise:</label>
                <select name="name" id="name">
                    <option value="Squat">Squat</option>
                    <option value="Push-Up">Push-Up</option>
                    <option value="Bench Press">Bench Press</option>
                    <option value="Shoulder Press">Shoulder Press</option>
                    <option value="Back Row">Back Row</option>
                    <option value="Deadlift">Deadlift</option>
                    <option value="Pull-up">Pull-up</option>
                    <option value="Cable Crossovers">Cable Crossovers</option>
                    <option value="Bicep Curl">Bicep Curl</option>
                    <option value="Lateral Dumbbell Raises">Lateral Dumbbell Raises</option>
                    <option value="Dumbbell Shrugs">Dumbbell Shrugs</option>
                    <option value="Tricep Curl">Tricep Curl</option>
                    <option value="Leg Press">Leg Press</option>
                    <option value="Chest Press">Chest Press</option>
                    <option value="Incline Press">Incline Press</option>
                    <option value="Dumbbell Chest Flyes">Dumbbell Chest Flyes</option>
                    <option value="Front Dumbbell Raises">Front Dumbbell Raises</option>
                    <option value="Upright Rows">Upright Rows</option>
                    <option value="Leg Extensions">Leg Extensions</option>
                    <option value="Calf Raises">Calf Raises</option>
                    <option value="Row">Row</option>
                    <option value="Hyperextensions">Hyperextensions</option>
                    <option value="Skull-crushers">Skull-crushers</option>
                </select>
            </div>
        </li>
        <li class="ex-box" style="background:#bb4b0a;color: #eea760;">
            <div class="form-group">
                <label for="distance">Weight</label>
                <input type="number" class="form-control" id="weight" name="weight" required>
            </div>
            <div class="form-group">
                <label for="distance">Repetitions</label>
                <input type="number" class="form-control" id="repetitions" name="repetitions" required>
            </div>
        </li>
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</ul>
</body>
</html>