<html lang="eng">
<head>
    {{>header}}
    <style>
        input[type = submit] {
           background-color: #7a166d;
           border: none;
           text-decoration: none;
           color: #cf57bf;
           padding: 20px 20px;
           margin: 20px 20px;
           cursor: pointer;
        }
     </style>
</head>

<body class="container" style="background-color:#cf57bf;">
<h2 style="color:#7a166d;">Insert a new exercise in the Training Plan</h2>
<ul class="type-container" style="background:#cf57bf;">
    <form method="post" role="form">
        <li class="ex-box" style="background:#7a166d;color: #cf57bf;">
            <div class="form-group">
                <label for="name">Choose an exercise:</label>
                <select name="name" id="name">
                    <option value="Badminton">Badminton</option>
                    <option value="Padel">Padel</option>
                    <option value="Tennis">Tennis</option>
                    <option value="Voleyball">Voleyball</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Baseball">Baseball</option>
                    <option value="Cricket">Cricket</option>
                    <option value="Surfing">Surfing</option>
                    <option value="Martial arts">Martial arts</option>
                    <option value="Football">Football</option>
                    <option value="Yoga">Yoga</option>
                    <option value="Rugby">Rugby</option>
                    <option value="American Football">American Football</option>
                    <option value="Handball">Handball</option>
                    <option value="Gymnastics">Gymnastics</option>
                    <option value="Hockey">Hockey</option>
                </select>
            </div>
        </li>
        <li class="ex-box" style="background:#7a166d;color: #cf57bf;">
            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="number" class="form-control" id="duration" name="duration" required>
            </div>
        </li>
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</ul>
</body>
</html>