<html lang="eng">
<head>
    {{>header}}
    <style>
        input[type = submit] {
           background-color: #046d14;
           border: none;
           text-decoration: none;
           color: #60ee75;
           padding: 20px 20px;
           margin: 20px 20px;
           cursor: pointer;
        }
     </style>
</head>

<body class="container" style="background-color:#60ee75;">
<h2 style="color:#046d14;">Insert a new exercise in the Training Plan</h2>
<ul class="type-container" style="background:#60ee75;">
    <form method="post" role="form">
        <li class="ex-box" style="background: #046d14;color: #60ee75;">
            <div class="form-group">
                <label for="name">Choose an exercise:</label>
                <select name="name" id="name">
                    <option value="Walking">Walking</option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Hiking">Hiking</option>
                    <option value="Jogging">Jogging</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Racewalking">Racewalking</option>
                </select>
            </div>
        </li>
        <li class="ex-box" style="background: #046d14;color: #60ee75;">
            <div class="form-group">
                <label for="distance">Distance</label>
                <input type="number" class="form-control" id="distance" name="distance" required>
            </div>
        </li>
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</ul>
</body>
</html>