<html lang="eng">
<head>
    {{>header}}
    <style>
        input[type = submit] {
           background-color: #bb4b0a;
           border: none;
           text-decoration: none;
           color: #eea760;
           padding: 20px 20px;
           margin: 20px 20px;
           cursor: pointer;
        }
     </style>
</head>

<body class="container" style="background-color:#eea760;">
<h2 style="color:#bb4b0a;">Insert a new exercise in the Training Plan</h2>
<ul class="type-container" style="background:#eea760;">
    <form method="post" role="form">
        <li class="ex-box" style="background:#bb4b0a;color: #eea760;">
            <div class="form-group">
                <label for="name">Choose an exercise:</label>
                <select name="name" id="name">
                    <option value="Squat">Squat</option>
                    <option value="Front Squat">Front Squat</option>
                    <option value="Bench Press">Bench Press</option>
                    <option value="Shoulder Press">Shoulder Press</option>
                    <option value="Back Row">Back Row</option>
                    <option value="Deadlift">Deadlift</option>
                    <option value="Pull-up">Pull-up</option>
                    <option value="Romanian Deadlift">Romanian Deadlift</option>
                    <option value="Bicep Curl">Bicep Curl</option>
                    <option value="Clean">Clean</option>
                    <option value="Clean & Jerk">Clean & Jerk</option>
                    <option value="Thruster">Thruster</option>
                    <option value="Tricep Curl">Tricep Curl</option>
                    <option value="Hip Thrust">Hip Thrust</option>
                </select>
            </div>
        </li>
        <li class="ex-box" style="background:#bb4b0a;color: #eea760;">
            <div class="form-group">
                <label for="distance">Weight</label>
                <input type="number" class="form-control" id="weight" name="weight" required>
            </div>
            <div class="form-group">
                <label for="distance">Repetitions</label>
                <input type="number" class="form-control" id="repetitions" name="repetitions" required>
            </div>
        </li>
        <div class="form-group">
            <input type="submit" value="Post entry" class="btn btn-primary">
        </div>
    </form>
</ul>
</body>
</html>