<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<style>
    * {
    box-sizing: border-box;
    font-family: system-ui;
    }

    .column {
    float: left;
    width: 33%;
    padding: 10px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
</style>