<html>
<head>
    {{>header}}
</head>
<body>
    <h1>{{title}}</h1>
    <p>
    This app has a list of exercises for your workout!
    </p>
    <form method="post">
        <div>
        <input type="submit" value="See exercises" class="btn btn-primary">
        </div>
    </form>
</body>
</html>