<html>
<head>
    {{>header}}
</head>
<body>
    <h1 style="text-align:center;">{{title}}</h1>
    <section class="buttons-container">
        <li class="button-box">
            <a href="/{{name}}/calendar" class="button">Calendar</a>
        </li>
        <li class="button-box">
            <a href="/{{name}}/records" class="button">Records</a>
        </li>
        <li class="button-box">
            <a href="/{{name}}/stats" class="button">Stats</a>
        </li>
        <li class="button-box">
            <a href="/logout" class="button">Logout</a>
        </li>
    </section>
    <h2 style="text-align:center;">Current week's plan: {{week}}</h2>
    {{#exist}}
        {{>training_plan/week_plan_current}}
    {{/exist}}
    {{^exist}}
        <p style="text-align: center;">No plan for current week...</p>
    {{/exist}}
</body>
</html>