<html>
    <head>
        {{>header}}
    </head>
    <body>
        <section style="text-align:center;">
            <p>Sharing link for the training plan created!</p>
            <a href="{{url_link}}">{{url_link}}</a>
        </section>
        <section class="buttons-container">
            <li class="button-box">
                <a href="/{{user}}/calendar" class="button">Return to calendar</a>
            </li>
        </section>
    </body>
</html>