<div class="card">
    <div class="header">
        <h4>{{name}}</h4>
    </div>
    <div class="card-body">
        <div class="card-text">
            Distance: {{distance}} km
        </div>
    </div>
</div>